.movie_show{
    width: 300px;
    height: 300px;
    margin: 12px;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.movie_shows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.movie_img{
    width: 100%;
    height: 100%;
}

.movie_details{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;

    .movie_details_h3{
        font-size: 16px;
        color: white;
    }

    .moviedate{
        justify-content: space-between;
        font-size: 12px;
        font-weight: 700;
        margin: 7px 0px;
        color: white;
    }
}